.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100vw;
  padding: 0px 68px;
  margin-top: 20px;
}

.block {
  width: 300px;
  height: 160px;
  background: rgba(2, 144, 255, 0.1);
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
}

.block:hover {
  background: rgba(2, 144, 255, 0.2);
}

.block_header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #333333;
}
.block_row_2 {
  margin-top: 30px;
}
.input_file {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.input_file_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  text-decoration-line: underline;

  color: rgba(2, 144, 255, 0.7);
}
.input_file_btn::after {
  content: url('../../img/arrow.svg');
  position: relative;
  top: 7px;

}
.input_file_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.4);
  margin-right: 2px;
}
.input_file_text:before {
  content: url('../../img/empty.svg');
  position: relative;
  top: 3px;

}
.input_file input[type="file"] {
  display: none;
}
